{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block main
%}
<table class="table table-striped">
  <thead>
    <tr class="text-end">
      <th colspan="2" class="text-start">Symbol</th>
      <th>Shares</th>
      <th>Price</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr class="text-end">
      <td class="text-start">{{ stock.symbol }}</td>
      <td class="d-flex gap-2">
        <form action="/buy" method="post">
          <input type="hidden" name="symbol" value="{{ stock.symbol }}" />
          <input type="hidden" name="shares" value="1" />
          <button class="py-0 px-2 btn btn-secondary" type="submit">
            Buy x1
          </button>
        </form>
        <form action="/sell" method="post">
          <input type="hidden" name="symbol" value="{{ stock.symbol }}" />
          <input type="hidden" name="shares" value="1" />
          <button class="py-0 px-2 btn btn-secondary" type="submit">
            Sell x1
          </button>
        </form>
      </td>
      <td>{{ stock.shares }}</td>
      <td>{{ stock.price }}</td>
      <td>{{ stock.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot class="text-end">
    <tr>
      <td class="border-0 fw-bold" colspan="4">Cash</td>
      <td class="border-0">{{ cash }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold" colspan="4">TOTAL</td>
      <td class="border-0">{{ total }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
